<div class="event-card" [ngClass]="event.finished ? 'finished-event' : 'active-event'">

    <div class="event-card-header event-linker">
      <img [src]="event.adminPhoto" class="user-img" [routerLink]="['/dashboard/profile', idUser]">
      <div class="event-card-header-info" (click)="redirectEventDetails(event)">

        <div class="card-title">
          <mat-card-title>{{event.title}}</mat-card-title>
          <mat-icon *ngIf="event.verifiedadmin" class="verify-icon">verified_user</mat-icon>
        </div>

        <div class="aligned-elements">
          <mat-icon>date_range</mat-icon>
          {{event.init_date | date:'short'}}
        </div>

        <div class="aligned-elements" *ngIf="event.province">
          <mat-icon> place</mat-icon>
          {{event.province}},
          {{event.city}},
          {{event.street}},
          {{event.number}}
        </div>

        <div class="aligned-elements" *ngIf="event.link">
          <mat-icon>link</mat-icon>
          {{event.link}}
        </div>

        <div class="aligned-elements user" [routerLink]="['/dashboard/profile', idUser]">
          <mat-icon>face</mat-icon>
          {{event.adminUser}}
        </div>

      </div>
    </div>

    <img [src]="event.photo" class="event-img event-linker" (click)="redirectEventDetails(event)">

    <div class="event-card-footer">
      <div>
        <div *ngIf="event.cancelled" class="canceled">
          Event Cancelled
        </div>
      </div>
        <!-- <button mat-button *ngIf="event.idUser === idUser; else participate" disabled="true">OWNER</button>
        <ng-template #participate>
          <button mat-button (click)="joinEvent(event._id)" *ngIf="!event.participateDisabled; else participating">PARTICIPATE</button>
        </ng-template>
        <ng-template #participating>
            <button mat-button disabled="true">PARTICIPATING</button>
        </ng-template> -->
      <div class="event-card-footer-stats">
          <div class="event-card-footer-stats-ppl">
              <mat-icon>people</mat-icon>
              {{event.people}}
          </div>
      </div>
    </div>
  </div>
