<div class="event-card" [ngClass]="event.finished ? 'finished-event' : 'active-event'">

    <div class="event-card-header event-linker">
      <img [src]="event.user.photo" class="user-img" [routerLink]="['/dashboard/profile', event.user.id]">
      <div class="event-card-header-info" [routerLink]="['/dashboard/event', event.id]">

        <div class="card-title">
          <mat-card-title>{{event.title}}</mat-card-title>
          <div>
            <mat-icon *ngIf="event.user.validated" class="verify-icon">verified_user</mat-icon>
          </div>
        </div>

        <div class="aligned-elements">
          <mat-icon>date_range</mat-icon>
          {{event.init_date | date:'short'}}
        </div>

        <div class="aligned-elements" *ngIf="event.province">
          <mat-icon> place</mat-icon>
          {{event.province}},
          {{event.city}},
          {{event.street}},
          {{event.number}}
        </div>

        <div class="aligned-elements" *ngIf="event.link">
          <mat-icon>link</mat-icon>
          <p class="link-url">{{event.link}}</p>
        </div>

        <div class="aligned-elements user">
          <mat-icon>face</mat-icon>
          {{event.user.name}}
        </div>

      </div>
    </div>

    <div>
      <img [src]="event.photo" class="event-img event-linker" [routerLink]="['/dashboard/event', event.id]">
  
      <div class="event-card-footer" [routerLink]="['/dashboard/event', event.id]">
        <div>
          <div *ngIf="event.cancelled" class="canceled">
            Event Cancelled
          </div>
        </div>
        <div class="event-card-footer-stats">
            <div class="event-card-footer-stats-ppl">
                <mat-icon>people</mat-icon>
                {{event.cantPeople}}
            </div>
        </div>
      </div>
    </div>

  </div>
