// Event card styles
.user-img{
    background-image: url('./defUser.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.event-card{
    height: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    
}

.event-card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.event-card-header-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 50px);
}

.card-title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    // flex-wrap: wrap;
    width: 100%;
}

mat-card-title{
    // display: inline;
    max-width: calc(400px - 50px - 10px - 2em);
    // overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
}

.link-url{
    max-width: calc(400px - 50px - 10px - 30px - 2em);
    text-overflow: ellipsis;
    overflow: hidden;
}

.aligned-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.event-img{
    background-image: url('./defEvent.png');
    max-height: 200px;
    // width: calc(400px + 2em);
    width: 400px;
    position: relative;
    left: -1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: calc(400px + 2em)) {
    .event-img {
        width: calc(100% + 2em);
    }
    
    .link-url{
        max-width: calc(100% - 50px - 10px - 30px - 2em);
        text-overflow: ellipsis;
        overflow: hidden;
    }
  }

.event-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.event-card-footer-stats{
    display: flex;
    flex-direction: column;
    // align-items: center;
    // gap: 2px;
}

.event-card-footer-stats-ppl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.event-card-footer-stats-value{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.event-linker{
    cursor: pointer;
}

button{
    background-color: rgb(218, 218, 218);
}

.verify-icon{
    color: rgb(1, 164, 239);
    overflow: visible;
    max-width: 30px;
}

.finished-event{
    opacity: 45%;
}

.canceled{
    color: red;
    font-weight: bold;
}