<br>
<h2 class="form-container">Create new Event</h2>

<div class="form-container">
  <div class="sub-form-container">
    <form [formGroup]="eventForm" (ngSubmit)="createEvent()">

      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-hint class="hint" *ngIf="title.errors?.['maxlength']">Less than 50 chars.</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-hint class="hint" *ngIf="description.errors?.['maxlength']">Less than 255 chars.</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mode</mat-label>
        <mat-select formControlName="mode" (selectionChange)="modeChange()">
          <mat-option value="site">On-site</mat-option>
          <mat-option value="virtual">Virtual</mat-option>
          <mat-option value="mixed">Mixed</mat-option>
        </mat-select>
      </mat-form-field>


      <div *ngIf="(mode.value === 'site') || (mode.value === 'mixed')">
        <div class="same-row-inputs">
          <mat-form-field appearance="fill">
            <mat-label>Province</mat-label>
            <mat-select formControlName="province" (selectionChange)="changeProvince()">
              <mat-option *ngFor="let province of provinces" [value]="province">
                {{province}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>City/Town</mat-label>
            <mat-select formControlName="city">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="same-row-inputs">
          <mat-form-field appearance="fill">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Placeholder" formControlName="street">
          <mat-hint class="hint" *ngIf="street.errors?.['maxlength']">Less than 20 chars.</mat-hint>
        </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Number</mat-label>
            <input type="number" matInput placeholder="Placeholder" formControlName="number">
          <mat-hint class="hint" *ngIf="number.errors?.['max']">Less 9999.</mat-hint>
        </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="fill" *ngIf="(mode.value === 'virtual') || (mode.value === 'mixed')">
        <mat-label>Link</mat-label>
        <input matInput placeholder="Placeholder" formControlName="link">
          <mat-hint class="hint" *ngIf="link.errors?.['maxlength']">Less than 50 chars.</mat-hint>
        </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="eventForm" [rangePicker]="picker">
          <input matStartDate formControlName="init_date" placeholder="Start day">
          <input matEndDate formControlName="end_date" placeholder="End day">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="eventForm.controls.init_date.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="eventForm.controls.end_date.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <div class="same-row-inputs">
        <mat-form-field appearance="fill">
          <mat-label>Start Hour</mat-label>
          <input matInput type="number" min="00" max="23" formControlName="init_hour">
          <mat-hint class="hint" *ngIf="init_hour.errors?.['min']">from 0 to 23.</mat-hint>
          <mat-hint class="hint" *ngIf="init_hour.errors?.['max']">from 0 to 23.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>End Hour</mat-label>
          <input matInput type="number" min="00" max="23" formControlName="end_hour">
          <mat-hint class="hint" *ngIf="end_hour.errors?.['min']">from 0 to 23.</mat-hint>
          <mat-hint class="hint" *ngIf="end_hour.errors?.['max']">from 0 to 23.</mat-hint>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="idType">
          <mat-option *ngFor="let type of types" value="{{type.id}}">{{type.type}}</mat-option>
        </mat-select>
      </mat-form-field>

      <input type="file" accept=".jpg,.png" (change)="handleFileInput($event)">

      <span class="separator">
        <div *ngIf="error" class="errormsg">{{error}}</div>
      </span>

      <button mat-flat-button type="submit" [disabled]="!eventForm.valid">Continue</button>
      <!-- <button mat-flat-button type="submit">Continue</button> -->
    </form>
  </div>

</div>

<div class="spinner" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>