.show-password:hover {
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 860px;
}

mat-hint{
    color: red
}

.separator {
    margin-bottom: 10px;
}
@media screen and (max-width: 400px) {
    .separator {
        margin-top: 10px;
    }
}

.errormsg{
    color: red;
}

button{
    background-color: #2c3e50;
    color: white;
}

.form-container{
    display: flex;
    justify-content: center;
}

.sub-form-container{
    background-color: rgb(248, 248, 248);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    max-width: 50%;
    min-width: 50%;
}

@media screen and (max-width: 1000px) {
    .sub-form-container {
        max-width: 70%;
        min-width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .sub-form-container {
        max-width: 90%;
        min-width: 90%;
    }
}


.same-row-inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.spinner{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}