<div class="main-list">
    <div class="table-title">
      <h2>Types List</h2>
    </div>
    <button>filtrar</button>
    <br>
  
    <table>
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Delete</th>
      </thead>
      <tbody *ngIf="typesList">
        <tr *ngFor="let type of typesList">
          <td>{{type.id}}</td>
          <td>{{type.type}}</td>
          <td class="actions">
            <button>delete</button>
          </td>
        </tr>
      <tbody *ngIf="!typesList">
        <tr class="no-data">
          <td colspan="2">No types!</td>
        </tr>
      </tbody>
    </table>
  </div>
  