
<div class="form-container">
  <div class="sub-form-container">
    <h2 class="header-container">
      <mat-icon [routerLink]="['/dashboard/event', idEvent]">arrow_back</mat-icon>
      Editar Evento
      <div></div>
    </h2>
    
    <form [formGroup]="eventForm" (ngSubmit)="editEvent()">

      <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title">
        <mat-hint class="hint" *ngIf="title.errors?.['maxlength']">Hasta 40 caracteres.</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-hint class="hint" *ngIf="description.errors?.['maxlength']">Hasta 255 caracteres.</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Modalidad</mat-label>
        <mat-select formControlName="mode" (selectionChange)="modeChange()">
          <mat-option value="site">Presencial</mat-option>
          <mat-option value="virtual">Virtual</mat-option>
          <mat-option value="mixed">Mixto</mat-option>
        </mat-select>
      </mat-form-field>


      <div *ngIf="(mode.value === 'site') || (mode.value === 'mixed')">
        <div class="same-row-inputs">
          <mat-form-field appearance="fill">
            <mat-label>Provincia</mat-label>
            <mat-select formControlName="province" (selectionChange)="changeProvince()">
              <mat-option *ngFor="let province of provinces" [value]="province">
                {{province}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Localidad</mat-label>
            <mat-select formControlName="city">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="same-row-inputs">
          <mat-form-field appearance="fill">
            <mat-label>Calle</mat-label>
            <input matInput  formControlName="street">
          <mat-hint class="hint" *ngIf="street.errors?.['maxlength']">Hasta 20 caracteres.</mat-hint>
        </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Numero</mat-label>
            <input type="number" matInput  formControlName="number">
          <mat-hint class="hint" *ngIf="number.errors?.['max']">Hasta 9999.</mat-hint>
        </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="fill" *ngIf="(mode.value === 'virtual') || (mode.value === 'mixed')">
        <mat-label>Link</mat-label>
        <input matInput  formControlName="link">
          <mat-hint class="hint" *ngIf="link.errors?.['maxlength']">Hasta 30 caracteres.</mat-hint>
        </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Rango de fechas</mat-label>
        <mat-date-range-input [formGroup]="eventForm" [rangePicker]="picker">
          <input matStartDate formControlName="init_date" placeholder="Start day">
          <input matEndDate formControlName="end_date" placeholder="End day">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="eventForm.controls.init_date.hasError('matStartDateInvalid')">Fecha de inicio inválida</mat-error>
        <mat-error *ngIf="eventForm.controls.end_date.hasError('matEndDateInvalid')">Fecha de fin inválida</mat-error>
      </mat-form-field>

      <div class="same-row-inputs">
        <mat-form-field appearance="fill">
          <mat-label>Hora de inicio</mat-label>
          <input matInput type="number" min="00" max="23" formControlName="init_hour">
          <mat-hint class="hint" *ngIf="init_hour.errors?.['min']">de 0 a 23.</mat-hint>
          <mat-hint class="hint" *ngIf="init_hour.errors?.['max']">de 0 a 23.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Hora de fin</mat-label>
          <input matInput type="number" min="00" max="23" formControlName="end_hour">
          <mat-hint class="hint" *ngIf="end_hour.errors?.['min']">de 0 a 23.</mat-hint>
          <mat-hint class="hint" *ngIf="end_hour.errors?.['max']">de 0 a 23.</mat-hint>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="idType">
          <mat-option *ngFor="let type of types" value="{{type.id}}">{{type.type}}</mat-option>
        </mat-select>
      </mat-form-field>

      <span class="separator">
        <div *ngIf="error" class="errormsg">{{error}}</div>
      </span>

      <button mat-flat-button type="button" (click)="changePhoto()">Cambiar foto</button>
      <br>
      <button mat-flat-button type="submit" [disabled]="!eventForm.valid">Guardar</button>
    </form>
  </div>

</div>

<div class="spinner" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>