<br>

        <mat-card>
    <div class="user-info">
        <div class="row-group">
            <img [src]="user.photo" class="user-img">
            <div class="user-name">
                <mat-card-title> {{user.name}}</mat-card-title>
                <mat-card-subtitle>{{user.cantEvents}} Events Created</mat-card-subtitle>
            </div>
        </div>
        <div>
            <mat-icon *ngIf="user.validated === 3" class="verify-icon">verified_user</mat-icon>
        </div>
    </div>
</mat-card>

<!-- <hr> -->
<br>

<div class="profile-tabs">
    <mat-tab-group mat-stretch-tabs animationDuration="0ms" mat-align-tabs="center">
        <mat-tab label="Created Events">
            <br>
            <div class="lista-eventos">
              <div class="evento" *ngFor="let event of createdEvents">
            
                <etp-event [event]="event"></etp-event>
            
              </div>
            </div>
            
        </mat-tab>
        <mat-tab label="Followed Events">
            <br>
            <div class="lista-eventos">
              <div class="evento" *ngFor="let event of followedEvents">
            
                <etp-event [event]="event"></etp-event>
            
              </div>
            </div>
            
        </mat-tab>
    </mat-tab-group>
</div>

<br>