.filters-header{
    cursor: pointer;
}

.filters-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filter-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

mat-form-field{
    width: calc(50% - 5px);
}

// Events styles

.lista-eventos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 10px;
}

@media screen and (max-width: calc(400px + 2em)) {
    .lista-eventos {
        justify-content: stretch;
    }
    .evento{
        width: 100%;
    }
  }

.events-header, .filters-header{
    margin-top: 1rem;
    background-color: rgb(228, 228, 228);
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.new-event-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    padding: 3px;
    border-radius: 7px;
}

.new-event-btn:hover{
    background-color: rgb(192, 192, 192);
}

h3{
    margin: 0;
}

.user-img{
    background-image: url('https://lh5.googleusercontent.com/oprJyXUBHBLwmiCWqKfKEJwVFFKbzbyyKnTUyXdtDwkL1ym5IHcIr6uMXVkBgQ7zLLRCWgMfoc0gjRzSNHek4fSvxjPXOfJFqVI-Bo7Ivr5mn6UQF1twE6FSLL8QfNQOhg=w1280');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.verify-icon{
    color: rgb(1, 164, 239);
    overflow: visible;
}

.row-group{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

 .user-name{
    display: flex;
    flex-direction: column;
    justify-content: center;

 }

 .centered-text{
    display: flex;
    flex-direction: column;
    align-items: center;
 }