<form [formGroup]="signUpForm" (ngSubmit)="signUp()">

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="name">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder" formControlName="email">
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-hint *ngIf="email.errors?.['email']">Should be a valid email.</mat-hint>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Placeholder" #passwordInput formControlName="password">
        <mat-icon matSuffix class="show-password" (click)="showPassword(1)">remove_red_eye</mat-icon>
        <mat-hint *ngIf="password.errors?.['minlength']">At least eight characters, one number and one special character.</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Repeat Password</mat-label>
        <input type="password" matInput placeholder="Placeholder" #reppasswordInput formControlName="repeatpassword">
        <mat-icon matSuffix class="show-password" (click)="showPassword(2)">remove_red_eye</mat-icon>
        <mat-hint *ngIf="f.errors?.['passDoesntMatch']">Passwords doesn't match.</mat-hint>
    </mat-form-field>

    <span class="separator">
        <div *ngIf="error" class="errormsg">{{error}}</div >
    </span>

    <button mat-flat-button type="submit" color="primary" [disabled]="!signUpForm.valid">Sign Up</button>    
</form>

