<br>
<mat-expansion-panel [formGroup]="filtersForm" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>filter_list</mat-icon>
      Filters
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="filter-item">
    <mat-form-field appearance="fill">
      <mat-label>Province</mat-label>
      <mat-select formControlName="province" (selectionChange)="changeProvince()">
        <mat-option *ngFor="let province of provinces" [value]="province">
          {{province}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>City/Town</mat-label>
        <mat-select formControlName="city">
        <mat-option *ngFor="let city of cities" [value]="city">
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Event Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of eventTypes" [value]="type.id">
          {{type.type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Event Mode</mat-label>
      <mat-select formControlName="mode">
        <mat-option *ngFor="let mode of modes" [value]="mode.value">
          {{mode.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>User</mat-label>
      <input matInput (keyup)="onKeyUp()" #filterByUser formControlName="user">
    </mat-form-field>
  </div>
  
  <button mat-raised-button class="filter-apply-btn btn-primary" (click)="filterEvents()">Filter</button>
  <button mat-raised-button class="filter-apply-btn btn-primary" (click)="resetFilters()">Clear Filters</button>

</mat-expansion-panel>


<div class="events-header">
<div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="orderby($event)">
    <mat-button-toggle value="date" >
      <mat-icon>date_range</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="people">
      <mat-icon>people</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle routerLink="/dashboard/new-event">
      <mat-icon>note_add</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

</div>

<br>
<div class="lista-eventos">
  <div class="evento" *ngFor="let event of filteredEvents">

    <etp-event [event]="event"></etp-event>

  </div>
</div>

<p *ngIf="error">{{error}}</p>