h2{
    margin: 0px
}

.main-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10%;
}

.table-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

table{
    text-align: center;
    border-collapse: collapse;
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 12px;
    }
  }

thead{
    border-top: 1px solid #172029;
    border-bottom: 1px solid #172029;
    line-height: 2rem;
    background-color: rgb(206, 206, 206);
}

tbody tr{
    line-height: 2rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e7e7e7;
}

tbody tr:hover{
    background-color: rgb(224, 224, 224);
    transition: 0.3s;
    cursor: pointer;
}

td {
    text-transform: capitalize;
}

mat-icon{
    cursor: pointer;
}

td mat-icon{
    width: 100%;
    margin: 0px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}