@media screen and (max-width: 480px) {
    .separator {
        margin-top: 20px;
    }
}

.forgot-pass{
    color: blue;
    float: right;
}

.forgot-pass:hover{
    cursor: pointer;
    opacity: 70%;
}