<form [formGroup]="logInForm" (ngSubmit)="logIn()" class="flex-col-str-str">

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-hint class="hint" *ngIf="email.errors?.['email']">Ingrese un email válido.</mat-hint>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input [type]="inputTypeValue" matInput formControlName="password">
        <mat-icon matSuffix class="pointer" (click)="showPassword()">remove_red_eye</mat-icon>
        <mat-hint class="hint" *ngIf="password.errors?.['pattern']">Al menos 8 caracteres, una letra mayuscula, una letra minuscula y un numero.</mat-hint>
    </mat-form-field>
    <span class="separator" *ngIf="password.errors?.['pattern']"></span>
    
    <div *ngIf="error" class="form-error-msg">{{error}}</div >

    <div class="flex-col-stretch">
        <button mat-flat-button type="submit" [disabled]="!logInForm.valid" class="btn-primary">Loguearse</button>    
        <a class="forgot-pass" (click)="forgotPass()" >¿Olvidaste tu contraseña?</a>    
    </div>
    
</form>
