/*################# Generals #################*/
:root{
    --background-color: #e0e0e0; 
    --main-color: #2c3e50;
    --main-border-color: #2c3e50;
    --main-hover-color: #172029; 
    --padding-for-header: calc(4.5rem + 16px);
}

// html {
//     // background-color: #2b3b4b;
// }

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

@media screen and (max-width: 600px) {
    .container {
        padding-right: 1em;
        padding-left: 1em;
    }
  }

.btn-primary{
    background-color: var(--main-color); 
    color: white;
}

.btn-primary:hover{
    background-color: var(--main-hover-color); 
}

.floating-button{
    border: 1px solid var(--main-hover-color);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    z-index: 999;
    position: fixed;
    bottom: 1.5rem;
    right: 10%;
    font-weight: bold;
    min-width: 0px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .floating-button {
        right: 2%;
    }
  }

// Flex sections
.flex-col-stretch{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 10px;
}
.flex-col-str-str{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 10px;
}
.flex-col-cen-str{
    display: flex;
    flex-direction: column;
    align-items: cente;
    justify-content: stretch;
    gap: 10px;
}
// .flex-col-center{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: stretch;
//     gap: 10px;
// }
.flex-row-stretch{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    gap: 10px;
}
.flex-row-str-str{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    gap: 10px;
}
.flex-row-cen-str{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 5px;
}
.flex-row-cen-end{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.flex-row-cen-cen{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

// Forms
.form-error-msg{
    color:red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hint{
    color: red
}

.pointer:hover{
    cursor: pointer;
}

.floating-message{
    color: black;
    background-color: #64c47c;
    max-width: 350px;
    padding: 1rem;
    border-radius: 10px;
    z-index: 999;
    position: fixed;
    top: var(--padding-for-header);
    right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 75%;
}

.floating-message:hover{
    opacity: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.red{
    color: red;
}
.blue{
    color: rgb(1, 1, 153);
}
.green{
    color:green
}