.user-img{
    background-image: url('./user_default.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.settings-items{
    display: flex;
    flex-direction: column;
}

p{
    margin:0px;
}

.action {
    text-align: center; 
    vertical-align: middle;

}

table{
    max-width: 640px;
}

table tr td{
    height: 50px;
}

// button {
//     color: white;
//     background-color: #2c3e50;
// }
// button:hover {
//     color: white;
//     background-color: #1e2a36;
// }
// button:disabled{
//     background: #ccc;
// }


.bold{
    font-weight: bold;
    height: 0;
}

.modify-sections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

table tr:nth-child(even) td:first-child{
    padding-left: 20px;
  }

span{
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.verify-icon{
    color: rgb(1, 164, 239);
    overflow: visible;
    max-width: 30px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

h2 {
    margin: 0px;
}

.back-icon{
    cursor: pointer;
}