<br>
<h2>
  Editar perfil:
</h2>
<mat-card class="settings-items">
  <table>
    <tr rowspan="2" class="bold">Foto:</tr>
    <tr>
      <!-- <td class="bold">Photo:</td> -->
      <td><img [src]="user.photo" class="user-img"></td>
      <td>
        <button class="btn-primary" mat-raised-button (click)="changePhotoDialog()">Cambiar</button></td>
    </tr>
    <tr rowspan="2" class="bold">Nombre y email:</tr>
    <tr>
      <td>
        <div>
          <p>{{user.name}} </p>
          <p>{{user.email}}</p>
        </div>
      </td>
      <td><button class="btn-primary" mat-raised-button (click)="changeDataDialog()">Cambiar</button></td>
    </tr>
    <tr rowspan="2" class="bold">Contraseña:</tr>
    <tr>
      <td>***********</td>
      <td><button class="btn-primary" mat-raised-button (click)="changePassDialog()">Cambiar</button></td>
    </tr>
    
    <tr rowspan="2" class="bold">Validación:</tr>
    <tr *ngIf="user.validated === 3; else pending">
      <td>Validado</td>
        <mat-icon>verified_user</mat-icon>
    </tr>

    <ng-template #pending>
      <tr *ngIf="user.validated === 2; else notvalidated">
        <td>Pendiente</td>
        <td><button class="btn-primary" mat-raised-button disabled="true">Pendiente</button></td>
      </tr>
    </ng-template>

    <ng-template #notvalidated>
      <tr>
        <td>No validado</td>
        <td><button class="btn-primary" mat-raised-button (click)="askForValidation()" [disabled]="askDisabled">Solicitar</button></td>
      </tr>
    </ng-template>

    <tr>
      <td>
        <button mat-stroked-button color="warn" (click)="deleteUser()">ELIMINAR USUARIO</button></td>
    </tr>

  </table>

  <span *ngIf="error">{{error}}</span>

</mat-card>