<br>

<div *ngIf="event" class="event-card">
  <mat-card class="admin-event-card" [routerLink]="['/dashboard/profile', event.user.id]">
    <img [src]="event.user.photo" class="user-img" [routerLink]="['/dashboard/profile', event.user.id]">
    <p class="admin-name">{{event.user.name}}</p> 
    <mat-icon *ngIf="event.user.validated" class="verify-icon">verified_user</mat-icon>
  </mat-card>
  
  <br>
  <br>
  <div>
    <mat-card-title>{{event.title}}</mat-card-title>
  </div>
  <br>
  
  <div class="event-img">
    <img [src]="event.photo" class="event-img">
  </div>

  <br>

  <mat-card class="event-data-card">
    <div class="aligned-elements">
      <mat-icon>date_range</mat-icon>
      <div class="column-dates">
        <p>Desde: {{event.init_date | date:'short'}}</p>
        <p>Hasta: {{event.end_date | date:'short'}}</p>
      </div>
    </div>
    <!-- <div class="aligned-elements">
      <mat-icon>date_range</mat-icon>
    </div> -->
    <div class="aligned-elements" *ngIf="event.province">
      <mat-icon> place</mat-icon>
      {{event.province}},
      {{event.city}},
      {{event.street}},
      {{event.number}}
    </div>
    <div class="aligned-elements link-text" *ngIf="event.link">
      <mat-icon>link</mat-icon>
      <a href="https://{{event.link}}" target="_blank">{{event.link}}</a>
    </div>
    <div class="aligned-elements user">
      {{event.description}}
    </div>
    <div *ngIf="event.cancelled; else finished" class="cancelled">
      Evento Cancelado 
    </div>
    <ng-template #finished>
      <div *ngIf="event.finished" class="cancelled">
        Evento Finalizado 
      </div>
    </ng-template>
  </mat-card>
<br>

  <!-- <div class="actions" *ngIf="2 === 2; else notowner"> -->
  <div class="actions" *ngIf="event.user.id === idUser; else notowner">
    <button mat-stroked-button color="warn" (click)="cancelEvent()" *ngIf="event.end_date > today && !event.cancelled ">Cancelar Evento</button>
    <button mat-stroked-button color="warn" (click)="deleteEvent()">Eliminar Evento</button>
    <button mat-stroked-button color="primary" [routerLink]="['/dashboard/editevent', event.id]" *ngIf="event.end_date > today && !event.cancelled">Editar Evento</button>
  </div>
  <ng-template  #notowner>
    <div *ngIf="!event.cancelled">
      <button  *ngIf="userParticipateEvent && event.end_date > today" mat-stroked-button color="warn" (click)="quitEvent()">SALIR</button>
      <button *ngIf="!userParticipateEvent && event.end_date > today" mat-stroked-button color="primary" (click)="joinEvent()" >PARTICIPAR</button>
    </div>
  </ng-template>

  <br>

  <mat-expansion-panel class="participants-card">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        LISTA DE PARTICIPANTES
        <mat-icon>people</mat-icon>
        {{event.cantPeople}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
      <tr *ngFor="let user of userEvents">
        <td [routerLink]="['/dashboard/profile', user.id]">{{user.name}}</td>
        <td *ngIf="user.favourite; else nostar" (click)="favuser(user.id, false)">
          <mat-icon class="user-star">stars</mat-icon>
        </td>
        <ng-template #nostar>
          <td></td>
        </ng-template>
        
        <td *ngIf="event.user.id === idUser">
          <mat-icon *ngIf="!user.favourite" (click)="favuser(user.id, true)">star_border</mat-icon>
        </td>

      </tr>
    </table>

  </mat-expansion-panel>
</div>
