<br>
<div class="flex-col">
    <h2>Who are we?</h2>
    <p>We are two participants of the Fullstack Programming course offered by UTN together with La Segunda in the class of 2022.</p>

    <div class="flex-row">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Adelmar Galetto</mat-card-title>
                <mat-card-subtitle>Backend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image alt="Photo of Adelmar" class="person-photo be-photo">
        </mat-card>
            
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Pablo Sgreccia</mat-card-title>
                <mat-card-subtitle>Frontend</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image alt="Photo of Pablo" class="person-photo fe-photo">
        </mat-card>
    </div>
<br>
    <h2>Our objective:</h2>
    <p>We seek to share with the world the knowledge acquired throughout the course, which includes:</p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Angular</li>
        <li>Typescript</li>
        <li>NodeJs</li>
        <li>Postman</li>
        <li>SQL and NoSQL Databases</li>
        <li>Versioning with Git</li>
        <li>Good Practices</li>
        <li>Teamwork</li>
    </ul>
</div>
<br>