<h2>Quienes Somos?</h2>
<p>Somos dos participantes del curso de Programación Fullstack ofrecido por la UTN junto con la segunda en la promoción del 2022</p>

<div>
    Adelmar Galetto
    foto
    rol: backend
</div>

<div>
    Pablo Sgreccia
    foto
    rol: frontend
</div>

<h2>Nuestro objetivo</h2>
<p>Buscamos compartir con el mundo los conocimientos adquiridos a lo largo del curso, los cuales, entre estos, se incluyen</p>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Angular</li>
    <li>Typescript</li>
    <li>NodeJs</li>
    <li>Javascript</li>
    <li>Bases de datos SQL</li>
    <li>Versionado con Git</li>
    <li>Buenas Practicas</li>
</ul>