<br>
<h2>Who are we?</h2>
<p>We are two participants of the Fullstack Programming course offered by UTN together with La Segunda in the class of 2022.</p>

<div>
    Adelmar Galetto
    foto
    rol: backend
</div>

<div>
    Pablo Sgreccia
    foto
    rol: frontend
</div>

<h2>Our objective:</h2>
<p>We seek to share with the world the knowledge acquired throughout the course, which includes:</p>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Angular</li>
    <li>Typescript</li>
    <li>NodeJs</li>
    <li>Postman</li>
    <li>SQL and NoSQL Databases</li>
    <li>Versioning with Git</li>
    <li>Good Practices</li>
    <li>Teamwork</li>
</ul>