h2{
    margin: 0px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.example-card{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.be-photo{
    background-image: url('https://lh6.googleusercontent.com/_Ox6XBN0uzGxECkV1AIgb6Dd1foTeU8JkTv-ekMLq6p1QvN8hVQK2NJVnYg62zFLIwdcqvTLpoppIN_Qv36DSEvCVK-0VJEdO0Ub1wcfXUrNZFI4W6hCIC5ktTG5E4vVMQ=w1280');
}
.fe-photo{
    background-image: url('https://lh6.googleusercontent.com/F69Q7wJX2GAjAyVkXe5pe1uvMp9zCOAtlMaDvy5VlrKLHqcpOQR4cmpNe0EHlhdWdOzsKqTtVbnLyt0_gCjpfGNo6tz1SKPaE6FcMJ8KuJT0-bkLX5a20daJOJbz_GOSzQ=w1280');
}

.mat-card{
    background-color: rgb(241, 241, 241);
}