
<br>

<mat-card class="event-card">
    <div class="event-img">
        <img [src]="event.photo" class="event-img">
    </div>
    
    <br>
    <mat-card class="admin-event-card" [routerLink]="['/dashboard/profile', event.adminUserId]">
      <img [src]="event.adminPhoto" class="user-img" [routerLink]="['/dashboard/profile', event.adminUserId]">
      {{event.adminUser}}
      <mat-icon *ngIf="event.verifiedadmin" class="verify-icon">verified_user</mat-icon>

    </mat-card>
<br>

<mat-card class="event-data-card">
  <mat-card-title>{{event.title}}</mat-card-title>
  <div class="aligned-elements">
    <mat-icon>date_range</mat-icon>
    {{event.init_date | date:'short'}}
    <mat-icon>date_range</mat-icon>
    {{event.end_date | date:'short'}}
  </div>
  <div class="aligned-elements" *ngIf="event.province">
    <mat-icon> place</mat-icon>
    {{event.province}},
    {{event.city}},
    {{event.street}},
    {{event.number}}
  </div>
  <div class="aligned-elements" *ngIf="event.link">
    <mat-icon>link</mat-icon>
    {{event.link}}
  </div>
  <div class="aligned-elements user">
    {{event.description}}
  </div>
</mat-card>

<div class="event-card-footer">
  <button mat-button *ngIf="event.adminUserId === user._id; else participate" disabled="true">OWNER</button>
  <ng-template #participate>
    <button mat-button (click)="joinEvent(event._id)" *ngIf="!event.participateDisabled; else participating">PARTICIPATE</button>
  </ng-template>
  <ng-template #participating>
      <button mat-button disabled="true">PARTICIPATING</button>
  </ng-template>
<div class="event-card-footer-stats">
    <!-- <div class="event-card-footer-stats-ppl">
        <mat-icon>people</mat-icon>
        {{event.people}}
    </div> -->
    <div class="event-card-footer-stats-value" *ngIf="event.end_date == today">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        {{event.valor}}
    </div>
</div>
</div>
    
    <div class="actions" *ngIf="event.adminUserId === user._id; else notowner">
        <button mat-button>Cancel Event</button>
        <button mat-button>Delete Event</button>
        <button mat-button>Edit Event</button>
    </div>
    <ng-template #notowner>
        <ng-template #participate>
          <button mat-button (click)="joinEvent(event._id)" *ngIf="!event.participateDisabled; else participating">PARTICIPATE</button>
        </ng-template>
        <ng-template #participating>
            <button mat-button disabled="true">PARTICIPATING</button>
        </ng-template>
    </ng-template>


    <!-- <div class="event-users">

    </div> -->
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <!-- <mat-icon>filter_list</mat-icon> -->
          PARTICIPANTS LIST
          <mat-icon>people</mat-icon>
          {{event.people}}
        </mat-panel-title>
      </mat-expansion-panel-header>
    <table>
        <tr *ngFor="let user of userEvents">
            <td>{{user.name}}</td>
            <td *ngIf="user.star; else nostar"><mat-icon>stars</mat-icon></td>
            <ng-template #nostar>
                <td></td>
            </ng-template>
        </tr>
    </table>
      <!-- <div class="filter-item">
        <mat-form-field appearance="fill">
          <mat-label>Province</mat-label>
          <mat-select formControlName="province" (selectionChange)="changeProvince()">
            <mat-option *ngFor="let province of provinces" [value]="province.value">
              {{province.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label>City/Town</mat-label>
          <mat-select [disabled]="province.value === ''" #cityFilter>
            <mat-option *ngFor="let city of cities" [value]="city">
              {{city}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label>Topic</mat-label>
          <mat-select>
            <mat-option *ngFor="let topic of topics" [value]="topic.value">
              {{topic.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div> -->
        
<!--     
      <button mat-raised-button color="primary" class="filter-apply-btn">Apply</button> -->
    
    </mat-expansion-panel>
</mat-card>

